BasedOnStyle: Google
Standard: c++20
ColumnLimit: 0
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
PointerAlignment: Left
DerivePointerAlignment: false
NamespaceIndentation: None
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
SpacesBeforeTrailingComments: 1
AlignAfterOpenBracket: DontAlign
BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: true
ReflowComments: false
SortIncludes: false
FixNamespaceComments: false
